/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* HEADER */
.amazon-header{
    background-color: rgb(19, 25, 33);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10000;
}

/* HEADER LEFT */
.left-section{
   
    width: 180px;
    
}
.amazon-logo{
    width: 100px;
    margin-top: 5px;
}
.amazon-logo-mobile{
    display: none;
    margin-top: 5px;
}


@media (max-width:800px) {
    .left-section{
        width: unset;
    }
}

@media (max-width:575px){
    .amazon-logo{
        display: none;
    }
    .amazon-logo-mobile{
        display: block;
        height: 35px;
        margin-top: 5px;
    }
}

@media(max-width:390px){
    .search-box{
        width: 100px;
    }
}

/* HEADER MIDDLE */
.middle-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;

}

.search-box{
    flex: 1;
    height: 38px;
    padding-left: 15px;
    font-size: 16px;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}
.search-button{
    background-color: rgb(254,189,105);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 45px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon{
    height: 22px;
    width: 22px;
    
}

/* HEADER RIGHT */
.right-section{
     width: 180px;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center; 
}
.returns-orders{
    color: white;
    text-decoration: none;
}
.text-return{
    font-size: 13px;
}
.text-orders{
    font-size: 15px;
    font-weight: bold;
}
.cart-link{
    display: flex !important;
    align-items: center;
    color: white;
    text-decoration: none;
    position: relative;
}
.cart-icon{
    width: 50px;
}
.cart-quantity{
    font-size: 16px;
    font-weight: bold;
    color: rgb(254,189,105);
    position: absolute;
    top: 4px;
    left: 22px;
    
    width: 26px;
    text-align: center;
}
.cart-text{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.header-link:hover{
    border: 1px white solid;
}
.header-link{
    display: inline-block;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.toggle-option{
    display: none;
}

.mobileToggle{
    display:none;
}

@media(max-width:575px){
    .right-section{
        display: none;
    }
    .toggle-option{
        display: block;
        height: 40px;
        width: 45px;
        background-color: rgb(19, 25, 33);
        border: none;
        border-radius: 5px 5px 5px 5px;
    }

}


.mobile-returns-orders{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.mobile-cart-link{
    color: white;
    text-decoration: none; 
    font-weight: 500;

}

.mobile-section{
    /* display: none; */
    opacity: 0;
    transform: translateY(-50px);
    transition:  transform 0.3s ease-in-out;
    overflow: hidden;
}
.clicked-toggle{
    
    display: flex;
    background-color: rgb(19, 25, 33);
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 50px;
    
    opacity: 1;
    transform: translateY(0);
}





.product-container-remove{
    display: none;
}